<!DOCTYPE html>

<html>

    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        <div class="content-main">
            {{>header}}
            <p>{{parrafo}}</p>
        </div>
        {{>footer}}
    </body>
</html>
