<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        <h1>{{title}}</h1>
        <img src="/img/Sin título2.png" alt="">
        <p>Creado por {{name}} </p>
    </body>
</html>
